.eventBoard {
  display: flex;
  padding: 40px 0;
  gap: 50px 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f3efec;
  border: 1px solid #454545;
  border-radius: 16px;
  max-width: 1000px;
  margin: 0 auto;
}
