.form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input {
  display: block;
  width: 91%;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.33;
  font-family: inherit;
  color: #a46303;
  border: 3px solid #a4630364;
  border-radius: 12px;
}

.button {
  display: flex;
  align-items: center;
  width: 175px;
  padding: 15px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.33;
  color: #f7e4c6;
  cursor: pointer;
  border: 3px solid #a46303;
  border-radius: 16px;
  background-color: #de8705;
}
