.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  max-width: 600px;
  width: 100%;
  padding: 12px;
  background-color: #f7e4c6;
  border: 3px solid #a46303;
  border-radius: 16px;
  box-shadow: 0px 1px 1px #00000024, 0px 1px 3px #0000001f,
    0px 2px 1px #00000033;
}
