.header {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  line-height: 1.33;
  color: #a46303;
}

.stats {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.33;
  color: #a46303;
}
